@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2A3A47;
}

.grad {
  color: grey;
  background: linear-gradient(#2A3A47, #000, #000, #2A3A47);
}

img {
  height: 35px;
}

.barra {
  background-color: #2A3A47 !important;
}

.padd {
  padding: 30px 0 0 0;
}

.inicio {
  height: 650px;
  background-image: url(../multimedia/img/logo.jpg);
  background-size: cover;
  background-position: center;
}

.inicio2 {
  height: 650px;
  background-image: url(../multimedia/img/carousel1.jpg);
  background-size: cover;
  background-position: center;
}

.inicio3 {
  height: 650px;
  background-image: url(../multimedia/img/carousel2.jpg);
  background-size: cover;
  background-position: center;
}

.inicio4 {
  height: 650px;
  background-image: url(../multimedia/img/carousel3.jpg);
  background-size: cover;
  background-position: center;
}

footer {
  text-align: center;
  color: #fff;
  padding: 30px;
}

.redes a {
  color: #fff;
  font-size: 30px;
  letter-spacing: 15px;
}

h1 {
  padding: 30px;
  color: #fff;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-shadow: 0 0 1px #fff;
}

.proyecto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 200px);
  padding: 30px;
  grid-gap: 20px;
}

.navbar-toggler {
border: 0;
}

.proy{
  padding: 0%;
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 0 0 1px #000;
  font-size: 18px;
}

.caro{
  height: 650px;
  background: linear-gradient(#2A3A47, #000, #000, #2A3A47);
}
.carou{
  padding: 100px 25px 100px 25px;
  height: 450px;
  object-fit: cover;
}

.icons{
  padding: 0 0 0 20px;
  height: 20px;
}

.item {
  background-size: cover;
  background-position: center;
}

.item1 {
  background-image: url(../multimedia/img/cabañaSL\ \(1\).jpg);
}

.item2 {
  background-image: url(../multimedia/img/img2.jpg);
}

.item3 {
  background-image: url(../multimedia/img/img3.jpg);
}

.item4 {
  background-image: url(../multimedia/img/img4.jpg);
}

.item5 {
  background-image: url(../multimedia/img/img5.jpg);
}

.item6 {
  background-image: url(../multimedia/img/img6.jpg);
}

.subir {
  height: 40px;
  width: 40px;
  color: #fff;
  position: fixed;
  right: 40px;
  bottom: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.e-left {
  padding: 100px 0 0 0;
  height: 450px;
  background-image: url(../multimedia/img/left1.jpg);
  background-size: cover;
  background-position: center;
}

dl {
  padding: 25px 30px 95px 30px;
  color: #fff;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

span {
  font-size: 30px;
  color: grey;
}

dd {
  font-size: 20px;
}

.e-right2 {
  height: 450px;
  background-image: url(../multimedia/img/left2.jpg);
  background-size: cover;
  background-position: center;
}

.e-left3 {
  height: 450px;
  background-image: url(../multimedia/img/left3.jpg);
  background-size: cover;
  background-position: center;
}

video {
  height: 570px;
  width: 320px;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.izq, .centro, .der {
  padding: 30px;
}

.row {
  justify-content: center;
}

.areatext {
  padding: 30px 0 0 0;
}

h2 {
  padding: 30px;
  color: #fff;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-shadow: 0 0 1px #fff;
}

h3 {
  font-size: 20px;
  text-align: center;
  color: #fff;
  padding: 100px 0 0 0;
}

@media only screen and (min-width: 300px) and (max-width: 479px) {
  .padd {
    padding: 15px 0 0 0;
  }
  .inicio {
    height: 450px;
    background-image: url(../multimedia/img/logo3.jpg);
    background-size: cover;
    background-position: center;
  }
  .inicio2 {
    height: 450px;
    background-image: url(../multimedia/img/carousel4.jpg);
    background-size: cover;
    background-position: center;
  }
  .inicio3 {
    height: 450px;
    background-image: url(../multimedia/img/carousel5.jpg);
    background-size: cover;
    background-position: center;
  }
  .inicio4 {
    height: 450px;
    background-image: url(../multimedia/img/carousel6.jpg);
    background-size: cover;
    background-position: center;
  }
  footer {
    padding: 15px 0 15px 0;
  }
  .e-left {
    order: 0;
  }
  .e-right {
    order: 1;
  }
  .e-left2 {
    order: 3;
  }
  .e-right2 {
    order: 2;
  }
  .e-left3 {
    order: 4;
  }
  .e-right3 {
    order: 5;
  }
  .videos {
    justify-content: center;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .proyecto {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 200px);
  }
/* orden de los items */
  .item1{
    order: 0;
  }
  .item2{
    order: 3;
  }

  .item3{
    order: 4;
  }

  .item4{
    order: 7;
  }
  .item5{
    order: 8;
  }

  .item6{
    order: 12;
  }

  .item7{
    padding: 25px 0 0 0;
    order: 1;
  }
  .item8{
    padding: 25px 0 0 0;
    order: 2;
  }

  .item9{
    padding: 25px 0 0 0;
    order: 5;
  }

  .item10{
    padding: 25px 0 0 0;
    order: 6;
  }
  .item11{
    padding: 25px 0 0 0;
    order: 9;
  }

  .item12{
    padding: 25px 0 0 0;
    order: 11;
  }

/* fin orden de los items */

  .e-left {
    order: 0;
  }
  .e-right {
    order: 1;
  }
  .e-left2 {
    order: 3;
  }
  .e-right2 {
    order: 2;
  }
  .e-left3 {
    order: 4;
  }
  .e-right3 {
    order: 5;
  }

}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .proyecto {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 200px);
  }
/* orden de los items */
.item1{
  order: 0;
}
.item2{
  order: 3;
}

.item3{
  order: 4;
}

.item4{
  order: 7;
}
.item5{
  order: 8;
}

.item6{
  order: 12;
}

.item7{
  padding: 25px 0 0 0;
  order: 1;
}
.item8{
  padding: 25px 0 0 0;
  order: 2;
}

.item9{
  padding: 25px 0 0 0;
  order: 5;
}

.item10{
  padding: 25px 0 0 0;
  order: 6;
}
.item11{
  padding: 25px 0 0 0;
  order: 9;
}

.item12{
  padding: 25px 0 0 0;
  order: 11;
}
  .e-right, .e-left2, .e-right3 {
    padding-top: 85px;
  }
  .e-left, .e-right2, .e-left3 {
    filter: grayscale(1);
  }
  .e-left:hover {
    filter: grayscale(0);
  }
  .e-right2:hover {
    filter: grayscale(0);
  }
  .e-left3:hover {
    filter: grayscale(0);
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1820px) {
  
  
  .proyecto {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 275px 150px 275px 150px;
  }

  /* Orden de los items */
  .item1{
    order: 0;
  }
  .item2{
    order: 1;
  }
  
  .item3{
    order: 2;
  }
  
  .item4{
    order: 6;
  }
  .item5{
    order: 7;
  }
  
  .item6{
    order: 8;
  }
  
  .item7{
    order: 3;
  }
  .item8{
    order: 4;
  }
  
  .item9{
    order: 5;
  }
  
  .item10{
    order: 9;
  }
  .item11{
    order: 10;
  }
  
  .item12{
    order: 11;
  }
/* Fin orden de los items */
  
  .e-right, .e-left2, .e-right3 {
    padding-top: 85px;
  }
  .e-left, .e-right2, .e-left3 {
    filter: grayscale(1);
  }
  .e-left:hover {
    filter: grayscale(0);
  }
  .e-right2:hover {
    filter: grayscale(0);
  }
  .e-left3:hover {
    filter: grayscale(0);
  }
}