@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

@font-face {
    font-family: 'AgencyFB';
    src: url(../fonts/AgencyFB.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arial';
    src: url(../fonts/arial.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'AgencyFB', 'Courier New', Courier, monospace;
}

html {
    scroll-behavior: smooth;
}

.contenidoMain {
    opacity: 0; /* Oculta el contenido inicialmente */
    transition: opacity 1s ease-in-out;
}

.loader {
    color: #f0f2f4;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    background: transparent;
    padding: 20px;
    border-radius: 5px;
    z-index: 10;
}

body {
    background-color: #2a3a47;
}

.videosServicio {
    height: 570px;
    width: 320px;
    filter: saturate(3);
    filter: brightness(1.15);
    filter: contrast(1.15);
    box-shadow: 0px 0px 170px 144px rgba(76, 112, 219, 0.2);
}

.videosIndex {
    width: 100%;
    filter: saturate(3);
    filter: brightness(1.15);
    filter: contrast(1.15);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.videosMainIndex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.videoIndex2 {
    height: 400px;
    width: 50%;
    object-fit: cover;
}

.videoIndex3 {
    height: 400px;
    width: 50%;
    object-fit: cover;
}

img {
    height: 35px;
}

.headerIndex {
    position: static;
    top: 0px;
    width: 100%;
    background-color: #2a3a47;
}

main {
    padding-top: 15px;
}

.barra {
    background-color: #2a3a47 !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0 !important;
}

.nav {
    font-family: 'Titillium Web' !important;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.nav * {
    transition: all 0.35s ease;
}

.nav-li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 1em;
    padding: 0;
}

.nav-a {
    padding: 0.5em 0.8em;
    color: #ffffff80;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.nav-a::before,
.nav-a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all 0.35s ease;
    opacity: 0;
}

.nav-a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid grey;
    border-right: 3px solid #676767;
    transform: translate(-100%, 50%);
}

.nav-a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #676767;
    border-left: 3px solid grey;
    transform: translate(100%, -50%);
}

.nav-a:hover:before,
.nav-a:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}

.padd {
    padding: 30px 0 0 0;
}

h1 {
    padding: 20px;
    color: #fff;
    text-align: center;
    font-family: 'AgencyFB', 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.proyecto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(18, 200px);
    padding: 30px;
    gap: 20px;
}

.navbar-toggler {
    border: 0;
}

.proy {
    margin: 0%;
    padding: 0%;
    text-align: start;
    font-family: 'AgencyFB', 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 24px;
}

.proy2 {
    margin: 0%;
    padding: 0%;
    text-align: start;
    font-family: 'Courier New', 'AgencyFB', Courier, monospace;
    font-size: 18px;
    color: #caced1;
}

.btnVerMasContainer1 {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 35px;
    width: 175px;
    background: rgba(241, 241, 241, 0.5);
    border-radius: 5px;
    align-items: center;
    position: absolute;
    cursor: pointer;
}

.btnVerMasContainer2 {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 35px;
    width: 175px;
    background: rgba(241, 241, 241, 0.5);
    border-radius: 5px;
    align-items: center;
    position: absolute;
    cursor: pointer;
}

.btnVerMasChild {
    text-decoration: none;
    text-transform: uppercase;
    color: #2a3a47;
    font-size: 22px;
}

.inicioMain {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sloganIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25px;
    padding-top: 25px;
    height: 80px;
}

.slogan {
    font-size: 25px;
    padding: 5px;
    text-transform: uppercase;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, rgb(187, 186, 186), rgb(144, 141, 141), rgb(162, 160, 160), rgb(162, 160, 160));
    letter-spacing: 0.1em;
    padding: 0 25px 0 25px;
}

.logoIndex {
    height: 350px;
    width: 350px;
    background-image: url(../multimedia/img/logo.jpg);
    background-size: cover;
    background-position: center;
    border: #222f3a solid;
    border-radius: 50%;
    justify-self: center;
    box-shadow: 0px 0px 170px 144px rgba(76, 112, 219, 0.2);
    margin: 50px auto 50px auto;
}

.logoFIjo {
    height: 300px;
    padding: 0 0 30px 0;
    background-image: url(../multimedia/img/logo.jpg);
    background-size: cover;
    background-position: center;
}

.logoSliders {
    height: 200px;
    object-fit: cover;
    filter: saturate(3);
    filter: brightness(1.15);
    filter: contrast(1.15);
}

.logoSlider1,
.logoSlider2 {
    height: 200px;
    object-fit: cover;
    width: 100%;
    margin: 30px auto 30px auto;
}

dialog {
    border: none; /* Elimina el borde por defecto */
    outline: none; /* Elimina cualquier contorno adicional */
    margin: auto;
}
.modals::backdrop {
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

button {
    border: none;
    outline: none;
}

.close {
    height: 60px;
    width: 60px;
    color: rgba(20, 19, 19, 0.8);
    position: fixed;
    top: 15px;
    text-align: center;
    line-height: 40px;
    font-size: 27px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s ease;
}

.close:hover {
    color: rgb(0, 0, 0);
    font-size: 32px;
}

.modals {
    border: none;
    outline: none;
    width: auto;
    max-width: 100%;
    padding: 0;
    opacity: 1;
}

.slidecar {
    width: 100%;
    height: auto;
}

.icons {
    padding: 0 0 0 20px;
    height: 20px;
}

.item {
    background-size: cover;
    background-position: center;
    filter: saturate(3);
    filter: brightness(2);
    filter: contrast(1.15);
}

.bun {
    background-color: #000 !important;
}
.item1 {
    background-image: url(../multimedia/img/cabañaSL/cabañaSL6.jpg);
}

.item2 {
    background-image: url(../multimedia/img/ampliacionCL/ampliacionCL7.jpeg);
}

.item3 {
    background-image: url(../multimedia/img/casaLG/casaLG6.jpeg);
}

.item4 {
    background-image: url(../multimedia/img/casaKG/casaKG7.jpg);
}

.item5 {
    background-image: url(../multimedia/img/Baños/baños7sc.jpg);
}

.item6 {
    background-image: url(../multimedia/img/casaJG/casaJG6.jpg);
}

.item7 {
    background-image: url(../multimedia/img/ampliacionMR/ampliacionMR9.jpg);
}

.item8 {
    background-image: url(../multimedia/img/casaJF/casaJF7.jpg);
}

.item9 {
    background-image: url(../multimedia/img/casaSL/casaSL5.jpg);
}

.subir {
    height: 40px;
    width: 40px;
    color: #fff;
    position: fixed;
    right: 40px;
    bottom: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.whatsapp {
    color: #4bec67;
    height: 40px;
    width: 40px;
    position: fixed;
    right: 40px;
    bottom: 110px;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    font-size: 40px;
}
.whatsapp:hover {
    color: #fff;
}

.subir:hover {
    color: #fff;
}

h2 {
    padding: 30px;
    color: #fff;
    text-align: center;
    font-family: 'AgencyFB', 'Courier New', Courier, monospace;
    font-weight: normal;
}

h3 {
    font-size: 20px;
    text-align: center;
    color: #fff;
    padding: 100px 0 0 0;
    font-family: 'AgencyFB', 'Courier New', Courier, monospace;
    font-weight: normal;
    text-transform: uppercase;
}

.efectoTipeo {
    animation: teclear 3s steps(50);
}

@keyframes teclear {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@keyframes efecto {
    50% {
        border-color: transparent;
    }
}

@keyframes show {
    from {
        opacity: 0;
        scale: 85%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}
.item2,
.item3,
.item4,
.item5,
.item6,
.item4,
.item5,
.item6,
.item7,
.item8,
.item9,
.item11,
.item12,
.item13,
.item14,
.item15,
.item16,
.item17,
.item18,
.item10,
.centro,
.der,
.slidesIndex,
.informacionPersonal,
.imagenes2,
.formularios,
.formula,
.textoPrincipalService,
.textos,
.parrafoService,
.videosIndex,
.videosServicio {
    view-timeline-name: --items;
    view-timeline-axis: block;
    animation-timeline: --items;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}

.row {
    justify-content: center;
}
.areatext {
    padding: 30px 0 0 0;
}
h2 {
    padding: 30px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 1px #fff;
    text-transform: uppercase;
}

h3 {
    font-size: 20px;
    text-align: center;
    color: #fff;
    padding: 100px 0 0 0;
    text-transform: uppercase;
}

.tarjetas {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1000px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10%;
    border: none;
}

.face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
    border-radius: 10%;
}

.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(200px);
    background-image: url(../multimedia/img/Ariel.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid grey;
    width: 300px;
    height: 300px;
    border-radius: 25% 0%;
}

.face3 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(200px);
    background-image: url(../multimedia/img/Ariel2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid grey;
    width: 300px;
    height: 300px;
    border-radius: 25% 0%;
}

.container .card:hover .face.face1 {
    transform: translateY(0);
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.tituloTarjeta {
    transform: translateY(70%);
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.parrafoService {
    color: #ffffff80;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.2rem;
    padding: 0px 45px 0px 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.matricula {
    transform: translateY(20%);
    color: #0b0b0b;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.container .card .face.face2 {
    position: relative;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
    width: 300px;
    height: 300px;
    border-radius: 25% 0;
}

.container .card .face.face2 .content .descriptionTarjeta {
    text-align: center;
    color: #000;
    text-transform: uppercase;
}

.container .card:hover .face.face2 {
    transform: translateY(5);
    border-radius: 0% 0 25% 0;
}

.miFooter {
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.miFooter2 {
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.copyrights {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #898a8b;
}
.copyrights2 {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    color: #64676c;
}
.contenedorFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
}
.contenedorFooter .boton {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 5px;
    overflow: hidden;
    background-color: #c7c8c9;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}
.contenedorFooter .boton:hover {
    width: 200px;
    background-color: #d6d7da;
}
.contenedorFooter .boton .icono {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;
    transition: all 0.3s ease-out;
}
.Instagram {
    box-shadow: 0 0 0px #c058dd, 0 0 50px #f33095, 0 0 0px #8b5cf6, 0 0 0px #8b5cf6;
}
.spanInstagram {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #e74f31, #d41356, #3040e6);
    font-weight: 900;
}
.LinkedIn,
.FaceBook {
    box-shadow: 0 0 0px #5f89ae, 0 0 50px #5f89ae, 0 0 0px #5f89ae, 0 0 0px #5f89ae;
}
.contenedorFooter .boton i {
    font-size: 25px;
    line-height: 60px;
}
.contenedorFooter .boton span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 14px;
    letter-spacing: 3px;
}

.contenedorFooter .boton:nth-child(1):hover .icono {
    background: #306cb2;
    color: #fff;
}
.contenedorFooter .boton:nth-child(1):hover span {
    color: #306cb2;
}
.contenedorFooter .boton:nth-child(2):hover .icono {
    background: linear-gradient(30deg, #3040e6 10%, #d41356, #e74f31, #f0ce3d);
    color: #fff;
}
.contenedorFooter .boton:nth-child(3):hover .icono {
    background: #306cb2;
    color: #fff;
}

.mundi,
.spanEspañol {
    color: #808080;
    font-size: 16px;
    text-shadow: #0b0b0b;
}

.separadorSpan {
    color: #000;
    margin: 0 10px 0 10px;
}

.label-languaje {
    cursor: pointer;
}

.tarjet {
    width: 90%;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenido {
    width: 100%;
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 20%;
    padding: 25px;
}

.imagenes {
    margin: 0 auto;
    background-image: url(../multimedia/img/Ariel3.jpg);
    height: 300px;
    width: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    border-radius: 3px;
}

.imagenes2 {
    margin: 0 auto;
    background-image: url(../multimedia/img/contactoPlanos.jpg);
    height: 350px;
    width: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    border-radius: 3px;
}

.informacionPersonal {
    margin: 25px auto 75px auto;
    height: auto;
    width: 80%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.whatsappContacto {
    color: #4bec67;
    position: static;
    text-align: center;
    font-size: 40px;
    transition: all 0.3s ease-in-out;
}

.whatsappContacto:hover {
    transition: all 0.3s ease-in-out;
    font-size: 45px;
    color: #fff;
}

.gmail {
    margin-left: 20px;
    color: #de1b18;
    position: static;
    text-align: center;
    font-size: 40px;
    transition: all 0.3s ease-in-out;
}

.gmail:hover {
    transition: all 0.3s ease-in-out;
    font-size: 45px;
    color: #c71310;
}

.h1Consulta {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-family: 'AgencyFB', 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    filter: drop-shadow(1px 1px 8px rgba(22, 22, 22, 0.3));
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8) !important;
    border-radius: 3px;
}

form {
    width: 80%;
    margin: 0 auto;
}
.form-control {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8) !important;
}

.btn {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8) !important;
    text-transform: uppercase;
}
.h2arqui {
    margin: 0%;
    letter-spacing: 0.1em;
    font-family: 'Courier New', Courier, monospace;
    padding: 25px;
}

.sloganVideo {
    margin-bottom: 0%;
    font-size: 50px;
    font-weight: 900;
    padding: 5px;
    text-transform: uppercase;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(220, 217, 217), rgb(255, 255, 255));
    letter-spacing: 0.1em;
    filter: drop-shadow(1px 1px 8px rgba(22, 22, 22, 0.3));
    border-radius: 3px;
}

.sloganVideoprime {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0 0 0;
    height: 100px;
    width: 100%;
}
.logoService {
    height: 350px;
    width: 350px;
    background-image: url(../multimedia/img/logo.jpg);
    background-size: cover;
    background-position: center;
    border: #222f3a solid;
    border-radius: 50%;
    justify-self: center;
    margin: 65px 0 25px 0;
    box-shadow: 0px 0px 170px 144px rgba(76, 112, 219, 0.2);
}

.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: grey;
    background: linear-gradient(#2a3a47, #000, #000, #2a3a47);
    border-radius: 0% 20% 15% 0%;
    box-shadow: 0px 0px 170px 144px inset rgba(76, 112, 219, 0.2);
    padding: 35px 0 35px 0;
    border: #222f3a solid 1px;
}

.textoPrincipalService {
    width: 100%;
    height: auto;
    border-radius: 15% 0%;
    box-shadow: 0px 0px 170px 144px inset rgba(76, 112, 219, 0.2);
    background-color: #000;
    padding: 25px;
    margin-top: 75px;
    margin-bottom: 75px;
}

.textos {
    align-self: center;
    border-radius: 0% 20% 15% 0%;
    box-shadow: 0px 0px 170px 144px inset #4c70db33;
    background-color: #000;
    border: #222f3a solid 1px;
    margin: 0%;
    padding: 0 0 55px 0;
}

.izq,
.centro,
.der {
    margin-bottom: 25px;
}

@media only screen and (min-width: 300px) and (max-width: 479px) {
    .textoPrincipalService {
        border-radius: 25% 0%;
    }
    .padd {
        padding: 15px 0 0 0;
    }
    .inicio {
        height: 450px;
        background-image: url(../multimedia/img/logo3.jpg);
        background-size: cover;
        background-position: center;
    }
    .inicio2 {
        height: 450px;
        background-image: url(../multimedia/img/carousel4.jpg);
        background-size: cover;
        background-position: center;
    }
    .inicio3 {
        height: 450px;
        background-image: url(../multimedia/img/carousel5.jpg);
        background-size: cover;
        background-position: center;
    }
    .inicio4 {
        height: 450px;
        background-image: url(../multimedia/img/carousel6.jpg);
        background-size: cover;
        background-position: center;
    }
    .e-left {
        order: 0;
    }
    .e-right {
        order: 1;
    }
    .e-left2 {
        order: 3;
    }
    .e-right2 {
        order: 2;
    }
    .e-left3 {
        order: 4;
    }
    .e-right3 {
        order: 5;
    }
}
@media only screen and (min-width: 479px) and (max-width: 768px) {
    .h2arqui {
        margin: 0%;
        letter-spacing: 0.1em;
        font-family: 'Courier New', Courier, monospace;
        padding: 25px;
    }

    .sloganVideo {
        margin-bottom: 0%;
        font-size: 50px;
        font-weight: 900;
        padding: 5px;
        text-transform: uppercase;
        background-clip: text;
        color: transparent;
        letter-spacing: 0.1em;
        filter: drop-shadow(1px 1px 8px rgba(22, 22, 22, 0.3));
        border-radius: 10px;
    }

    .sloganVideoprime {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 80px 0 0 0;
        height: 100px;
        width: 100%;
    }
    .h1Consulta {
        width: 70%;
        padding: 20px;
        margin: 0 auto;
        color: #fff;
        text-align: center;
        font-family: 'AgencyFB', 'Courier New', Courier, monospace;
        font-weight: normal;
        font-size: 36px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        filter: drop-shadow(1px 1px 8px rgba(22, 22, 22, 0.3));
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8) !important;
        border-radius: 10px;
    }

    form {
        width: 70%;
        margin: 0 auto;
    }

    .video-container {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
    }

    .video-container video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contenido {
        width: 100%;
        position: relative;
        z-index: 1;
        color: white;
        text-align: center;
        margin-top: 20%;
        padding: 25px;
    }

    .imagenes {
        margin: 0 auto;
        background-image: url(../multimedia/img/Ariel3.jpg);
        height: 300px;
        width: 70%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
        border-radius: 10px;
    }

    .imagenes2 {
        margin: 0 auto;
        height: 350px;
        width: 70%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
        border-radius: 10px;
    }

    .informacionPersonal {
        margin: 25px auto 75px auto;
        height: auto;
        width: 70%;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
    .slidecar {
        width: 100%;
        height: auto;
    }
    .proyecto {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(9, 200px);
    }
    .item1 {
        order: 0;
    }
    .item2 {
        order: 3;
    }

    .item3 {
        order: 4;
    }

    .item4 {
        order: 7;
    }
    .item5 {
        order: 8;
    }

    .item6 {
        order: 12;
    }

    .item7 {
        order: 13;
    }
    .item8 {
        order: 16;
    }

    .item9 {
        order: 17;
    }

    .item10 {
        padding: 25px 0 0 0;
        order: 1;
    }
    .item11 {
        padding: 25px 0 0 0;
        order: 2;
    }

    .item12 {
        padding: 25px 0 0 0;
        order: 5;
    }

    .item13 {
        padding: 25px 0 0 0;
        order: 6;
    }

    .item14 {
        padding: 4px 0 0 0;
        order: 9;
    }

    .item15 {
        padding: 25px 0 0 0;
        order: 10;
    }

    .item16 {
        padding: 25px 0 0 0;
        order: 13;
    }

    .item17 {
        padding: 25px 0 0 0;
        order: 14;
    }

    .item18 {
        padding: 25px 0 0 0;
        order: 17;
    }
    .e-left {
        order: 0;
    }
    .e-right {
        order: 1;
    }
    .e-left2 {
        order: 3;
    }
    .e-right2 {
        order: 2;
    }
    .e-left3 {
        order: 4;
    }
    .e-right3 {
        order: 5;
    }

    .slidcar {
        height: 450px;
    }
}

@media (min-width: 800px) and (max-width: 950px) and (min-height: 100px) and (max-height: 350px) {
    .modals {
        width: 50%;
        max-width: 50%;
        height: 80%;
        padding: 0;
        opacity: 1;
    }

    .slidecar {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
    .modals {
        width: 768px;
        padding: 0;
        opacity: 1;
    }

    .contenido {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(3, auto);
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 90px;
    }

    .imagenes,
    .imagenes2 {
        justify-self: center;
        margin: 0%;
        height: 450px;
    }

    .imagenes2 {
        margin-top: 60px;
    }

    .informacionPersonal {
        justify-self: center;
        margin: 0;
        height: 450px;
        padding-top: 60px;
    }

    .formularios {
        grid-column: span 2; /* Ocupa las dos columnas */
        padding: 60px 0 0 0; /* Opcional: más tamaño interno */
    }

    .swap {
        grid-row: 0;
    }

    .cotac {
        grid-row: 2;
        margin-top: 60px;
    }

    .video-container video {
        margin-top: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .label-languaje {
        position: absolute;
        top: 30px;
        right: 25px;
    }
    .slogan {
        font-size: 36px;
    }
    .sloganIndex {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .logoFIjo {
        grid-column: 1/2;
        grid-row: 1/3;
        height: 600px;
        padding: 0 0 0px 0;
        background-image: url(../multimedia/img/logo.jpg);
        background-size: cover;
        background-position: center;
    }

    .logoSliders1 {
        padding: 0 0 0px 0;
        grid-column: 2/3;
        grid-row: 1/2;
        height: 300px;
        object-fit: cover;
    }

    .logoSliders2 {
        padding: 0 0 0px 0;
        grid-column: 2/3;
        grid-row: 2/3;
        height: 300px;
        object-fit: cover;
    }

    .proyecto {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(9, 200px);
    }
    .item1 {
        order: 0;
    }
    .item2 {
        order: 1;
    }

    .item3 {
        order: 4;
    }

    .item4 {
        order: 5;
    }
    .item5 {
        order: 8;
    }

    .item6 {
        order: 9;
    }

    .item7 {
        padding: 25px 0 0 0;
        order: 12;
    }
    .item8 {
        padding: 25px 0 0 0;
        order: 13;
    }

    .item9 {
        padding: 25px 0 0 0;
        order: 16;
    }

    .item10 {
        padding: 25px 0 0 0;
        order: 2;
    }
    .item11 {
        padding: 25px 0 0 0;
        order: 3;
    }

    .item12 {
        padding: 25px 0 0 0;
        order: 6;
    }

    .item13 {
        padding: 25px 0 0 0;
        order: 7;
    }

    .item14 {
        padding: 25px 0 0 0;
        order: 10;
    }

    .item15 {
        padding: 25px 0 0 0;
        order: 11;
    }

    .item16 {
        padding: 25px 0 0 0;
        order: 14;
    }

    .item17 {
        padding: 25px 0 0 0;
        order: 15;
    }

    .item18 {
        padding: 25px 0 0 0;
        order: 18;
    }

    .e-right,
    .e-left2,
    .e-right3 {
        padding-top: 85px;
    }
    .e-left,
    .e-right2,
    .e-left3 {
        filter: grayscale(1);
    }
    .e-left:hover {
        filter: grayscale(0);
    }
    .e-right2:hover {
        filter: grayscale(0);
    }
    .e-left3:hover {
        filter: grayscale(0);
    }

    .slidcar {
        height: 390px;
        width: 100%;
    }

    .card1 {
        margin: 0 50px 0 0;
        transform: translateY(-70px);
    }

    .card2 {
        margin: 0 0 0 0px;
        transform: translateY(35px);
    }

    .formularios {
        width: 50%;
        display: block;
    }

    .videos {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 600px);
        margin-top: 120px;
        border-radius: 30% 0%;
        box-shadow: 0px 0px 170px 144px inset rgba(76, 112, 219, 0.2);
        padding: 35px 0 35px 0;
        border: #222f3a solid 2px;
    }
    .izq,
    .centro,
    .der {
        border-radius: 0% 0% 0% 30%;
        box-shadow: 0px 0px 170px 144px rgba(76, 112, 219, 0.2);
        background-color: #000;
        width: 75%;
        margin-left: 50px;
    }

    .textos {
        padding: 25px;
        margin-top: 0px;
        align-self: center;
        border-radius: 30% 10%;
        box-shadow: 0px 0px 170px 144px inset rgba(76, 112, 219, 0.2);
        background-color: #000;
    }
    .logoService {
        align-self: center;
    }
    .logoPrincipalYtextoPrincipal {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .textoPrincipalService {
        width: 75%;
        height: auto;
        border-radius: 30% 10%;
        box-shadow: 0px 0px 170px 144px inset rgba(76, 112, 219, 0.2);
        background-color: #000;
        padding: 25px;
        margin-top: 75px;
        margin-left: auto;
        margin-right: auto;
    }

    #parrafoPrincipal {
        justify-self: center;
        text-align: left;
        height: auto;
        width: 70%;
    }

    .txtIzq {
        order: 0;
    }
    .izq {
        order: 1;
    }

    .txtCentro {
        order: 3;
    }

    .centro {
        order: 2;
    }

    .txtDer {
        order: 4;
    }

    .der {
        order: 5;
    }

    .txtIzqBajo {
        order: 7;
    }

    .izqAbajo {
        order: 6;
    }

    .txtDerBajo {
        order: 8;
    }

    .derAbajo {
        order: 9;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 3000px) {
    .txtIzq {
        order: 0;
    }
    .izq {
        order: 1;
    }

    .txtCentro {
        order: 3;
    }

    .centro {
        order: 2;
    }

    .txtDer {
        order: 4;
    }

    .der {
        order: 5;
    }

    .txtIzqBajo {
        order: 7;
    }

    .izqAbajo {
        order: 6;
    }

    .txtDerBajo {
        order: 8;
    }

    .derAbajo {
        order: 9;
    }

    .contenido {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 300px);
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin: 60px 0 0 0;
    }

    .imagenes,
    .imagenes2 {
        margin: 0;
        padding: 0;
        height: 300px;
        justify-self: flex-end;
    }

    .imagenes {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .imagenes2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .informacionPersonal {
        align-self: center;
        height: 300px;
        justify-self: flex-start;
        margin: 0%;
    }

    .cotac {
        margin: 0;
        height: 280px;
    }
    .formularios {
        grid-column: 3/4;
        grid-row: 1/4;
        width: 100%;
        margin: 0%;
        padding: 0%;
        height: 100%;
        justify-self: flex-start;
    }

    .d-grid {
        margin: 35px 0 0 0;
        height: 60px;
    }
    .btn {
        text-transform: uppercase;
        font-size: larger;
        letter-spacing: 5px;
        font-weight: bold !important;
    }

    .nombreArquitecto {
        margin: 55px 0 0 0;
        font-size: 32px;
    }

    .sloganVideo {
        margin: 0%;
        padding: 0 16px 0 16px;
    }

    main {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }

    .h2arqui {
        font-size: 16px;
    }

    .video-container video {
        margin-top: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .modals {
        width: 908px;
        padding: 0;
        opacity: 1;
    }
    .label-languaje {
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .sloganIndex {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .barra {
        font-size: 28px;
    }
    .icons {
        padding: 0 0 0 20px;
        height: 30px;
    }

    .slogan {
        font-size: 38px;
    }

    .inicioMain {
        height: 100%;
    }

    .logoFIjo {
        grid-column: 1/2;
        grid-row: 1/3;
        height: 600px;
        padding: 0 0 0 0;
        background-image: url(../multimedia/img/logo.jpg);
        background-size: cover;
        background-position: center;
    }

    .logoSliders1 {
        padding: 0 0 0px 0;
        grid-column: 2/3;
        grid-row: 1/2;
        height: 300px;
        object-fit: contain;
    }

    .logoSliders2 {
        padding: 0 0 0px 0;
        grid-column: 2/3;
        grid-row: 2/3;
        height: 300px;
        object-fit: contain;
    }

    .proyecto {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 275px 150px 275px 150px 275px 150px;
    }

    .item1 {
        order: 0;
    }
    .item2 {
        order: 1;
    }

    .item3 {
        order: 2;
    }

    .item4 {
        order: 6;
    }
    .item5 {
        order: 7;
    }

    .item6 {
        order: 8;
    }

    .item7 {
        order: 12;
    }
    .item8 {
        order: 13;
    }

    .item9 {
        order: 14;
    }

    .item10 {
        order: 3;
    }
    .item11 {
        order: 4;
    }

    .item12 {
        order: 5;
    }

    .item13 {
        order: 9;
    }

    .item14 {
        order: 10;
    }

    .item15 {
        order: 11;
    }

    .item16 {
        order: 15;
    }

    .item17 {
        order: 16;
    }

    .item18 {
        order: 17;
    }

    .slidcar {
        height: 620px;
    }

    .card1 {
        margin: 0 50px 0 0;
        transform: translateY(-70px);
    }

    .card2 {
        margin: 0 0 0 0px;
        transform: translateY(35px);
    }

    .h1contact {
        margin: 0%;
        padding-bottom: 70px;
    }
    @keyframes show {
        from {
            opacity: 0;
            scale: 85%;
        }
        to {
            opacity: 1;
            scale: 100%;
        }
    }
    .imagenes {
        view-timeline-name: --items;
        view-timeline-axis: block;
        animation-timeline: --items;
        animation-name: show;
        animation-range: entry 25% cover 50%;
        animation-fill-mode: both;
    }

    .mainServices {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .videos {
        width: 100%;
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 600px);
        margin-top: 120px;
        border-radius: 30% 0%;
        box-shadow: 0px 0px 170px 144px inset rgba(76, 112, 219, 0.2);
        padding: 35px 0 35px 0;
        border: #222f3a solid 2px;
    }
    .izq,
    .centro,
    .der {
        border-radius: 0% 0% 0% 30%;
        box-shadow: 0px 0px 170px 144px rgba(76, 112, 219, 0.2);
        background-color: #000;
        width: 75%;
        margin-left: 50px;
    }

    .textos {
        margin-left: 150px;
        width: 75%;
        margin-top: 0px;
        align-self: center;
        border-radius: 30% 10%;
        box-shadow: 0px 0px 170px 144px inset #4c70db33;
        background-color: #4c70db33;
        transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
    }

    .textos:hover {
        box-shadow: 0px 0px 50px 20px rgba(76, 112, 219, 0.5);
        background-color: #000;
    }

    .parrafoService {
        color: #fff;
    }

    .logoService {
        align-self: center;
    }
    .logoPrincipalYtextoPrincipal {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .textoPrincipalService {
        width: 60%;
        height: auto;
        border-radius: 30% 10%;
        box-shadow: 0px 0px 170px 144px inset rgba(76, 112, 219, 0.2);
        background-color: #000;
        padding: 25px;
        margin-top: 75px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #parrafoPrincipal {
        justify-self: center;
        text-align: center;
        height: auto;
        width: 70%;
    }
    .videosServicio {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .logoService,
    .logoIndex {
        height: 500px;
        width: 500px;
    }
}
@media only screen and (min-width: 1220px) and (max-width: 3000px) {
    .formularios {
        width: 600px;
    }
    .informacionPersonal {
        height: 100%;
    }
}
