.tarjetas {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #2a3a47;
}
.container {
    width: 1000px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10%;
    border: none;
}

.face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
    border-radius: 10%;
}

.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(200px);
    background-image: url(../multimedia/img/Ariel.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid grey;
    width: 300px;
    height: 300px;
    border-radius: 25% 0%;
}

.face3 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(200px);
    background-image: url(../multimedia/img/Ariel2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid grey;
    width: 300px;
    height: 300px;
    border-radius: 25% 0%;
}

.container .card:hover .face.face1 {
    transform: translateY(0);
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.tituloTarjeta {
    transform: translateY(70%);
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.matricula {
    transform: translateY(20%);
    color: #0b0b0b;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.container .card .face.face2 {
    position: relative;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
    width: 300px;
    height: 300px;
    border-radius: 25% 0;
}

.container .card .face.face2 .content .descriptionTarjeta {
    text-align: center;
    color: #000;
    text-transform: uppercase;
}

.container .card:hover .face.face2 {
    transform: translateY(5);
    border-radius: 0% 0 25% 0;
}

/* ESTILOS DEL INPUT LENGUAJES */

/* ESTILOS PARA miFooter */
.miFooter {
    width: 100%;
    height: auto;
    margin-top: 200px;
}

.copyrights {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #898a8b;
}
.copyrights2 {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    color: #64676c;
}
.contenedorFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
}
.contenedorFooter .boton {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 5px;
    overflow: hidden;
    background-color: #d6d7da;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}
.contenedorFooter .boton:hover {
    width: 200px;
    background-color: #d6d7da;
}
.contenedorFooter .boton .icono {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;
    transition: all 0.3s ease-out;
}
.Instagram {
    box-shadow: 0 0 0px #c058dd, 0 0 50px #f33095, 0 0 0px #8b5cf6, 0 0 0px #8b5cf6;
}
.spanInstagram {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #e74f31, #d41356, #3040e6);
    font-weight: 900;
}
.LinkedIn,
.FaceBook {
    box-shadow: 0 0 0px #5f89ae, 0 0 50px #5f89ae, 0 0 0px #5f89ae, 0 0 0px #5f89ae;
}
.contenedorFooter .boton i {
    font-size: 25px;
    line-height: 60px;
}
.contenedorFooter .boton span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 14px;
    letter-spacing: 3px;
}

.contenedorFooter .boton:nth-child(1):hover .icono {
    background: #306cb2;
    color: #fff;
}
.contenedorFooter .boton:nth-child(1):hover span {
    color: #306cb2;
}
.contenedorFooter .boton:nth-child(2):hover .icono {
    background: linear-gradient(30deg, #3040e6 10%, #d41356, #e74f31, #f0ce3d);
    color: #fff;
}
.contenedorFooter .boton:nth-child(3):hover .icono {
    background: #306cb2;
    color: #fff;
}

/* ////////////////////////////// */

/* .articulos {
        height: 650px;
        align-content: center;
        border-radius: 0% 20% 15% 0%;
        box-shadow: 0px 0px 170px 144px inset #4c70db33;
        background-color: #000;
        border: #222f3a solid 1px;
        margin: 0%;
        padding: 0;
        width: 100%;
    }

    .banners {
        height: 480px;
        width: 100%;
        padding: 0px;
    }

    .bannerVideos {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: none;
        outline: none;
    }

    #article2 {
        height: 650px;
        align-content: center;
        border-radius: 0% 20% 15% 0%;
        box-shadow: 0px 0px 170px 144px inset #4c70db33;
        background-color: #000;
        border: #222f3a solid 1px;
        margin: 150px 0 150px;
        padding: 0;
        width: 100%;
    }

    .logoCarousels {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 480px;
        padding-top: 0px;
    }

    .logoSlider1s {
        width: 100%;
        height: 50%;
    }

    .logoSlider2s {
        width: 100%;
        height: 50%;
    }

    .logoSliders {
        width: 100%;
        height: 225px;
    }

    .articulosfinal {
        height: 650px;
        align-content: center;
        border-radius: 0% 20% 15% 0%;
        box-shadow: 0px 0px 170px 144px inset #4c70db33;
        background-color: #000;
        border: #222f3a solid 1px;
        margin: 0%;
        padding: 0;
        width: 100%;
    }

    .containerVideoIndexs {
        height: 480px;
    }

    .videosMainIndexs {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .videoIndex2,
    .videoIndex3 {
        height: 100%;
        width: 50%;
    } */
